body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    color: black;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

h3 {
    font-size: 25px;
    margin-top: 50px ;
    margin-bottom: 20px;
}

section {
    padding-top: 40px
}

p {
    margin: 0;
}


ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.choise {
    margin-top: 60px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #971313;
    text-decoration: none;
}

.namecom {
    font-size: 35px;
    font-weight: 600;
    padding-left: 50px;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;

}

.navbar-brad img {
    width: 100px;
}

.navbar-nav li {
    padding: 20px;
}

.navbar-nav a {
    color: #222;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
}

.nav-link {
    font-size: 1.1em !important;
}

.block-inner {
    padding: 10px 0;
}

.block-header-white {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.block-header-white h3 {
    font-size: 1.8em;
    color: #971313;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    font-weight: 300;
    line-height: 1.0;
}

.block-header-white h2 {
    font-size: 3.0em;
    color: #121619;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.0;
    margin: 0;
    padding: 0 0 30px 0;
}

/* =================================== */
/*  14. Footer-Area
/* =================================== */

.footer {
    background: #740B0B none repeat scroll 0 0;
    padding: 50px 0 38px;
}

.footer-title {
    border-bottom: 1px solid #fff;
}

.footer-title .desc {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

ul.footer-content {
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 0;
    margin-bottom: 10px;
}

ul.footer-content li a {
    color: #ddd;
    display: block;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.footer-content.box-information {
    margin-left: 0;
}

ul.footer-content.box-information li {
    color: #ddd;
    list-style: outside none none;
    min-height: 40px;
}

ul.footer-content.box-information li i {
    color: #e95668;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 25px;
}

ul.footer-content.box-information li a {
    color: #26acce;
}
.acc {
    background-color: #BD0F0F;
    padding: 10px;
    border-radius: 7px;
}
/* =================================== */
/*  Social-icons
/* =================================== */

.social-icons {
    text-align: center;
}

.social-icons li {
    display: inline-block;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.social-icons li a {
    border-bottom: none;
}

.social-icons li img {
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

/* =================================== */
/*  Footer-Area
/* =================================== */

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .div {
        position: relative;
        width: 400px;
        display: block;
    }

    .div:before {

    }

    .footer-text {
        flex-wrap: wrap;
    }

    .footer-text p:nth-child(1) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

.delivery {
    display: flex;
    flex-wrap: wrap;
}

.deliv {
    width: 20%;
    margin-right: 4%;
    margin-bottom: 20px;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    font-weight: 500;
    font-size: 16px;
}

.deliv .title {
    margin: 0 0 5px;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    font-weight: 500;
    font-size: 18px;
    color: #BD0F0F;
    text-transform: uppercase;
}

.deliv .p {
    margin: 0 0 50px;
    font-size: 16px;
}


article {
    display: block;
}

/* =================================== */
/* Pizza-card
/* =================================== */

/*
.container-pizz {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.pizzas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pizzas img {
    display: block;
    width: 100%;
}

.pizza {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.pizza-name {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
}

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

.price {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    color: black;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 4px 12px 4px 12px;
    background: #cccccc;
    color: white;
    font-size: 18px;
    line-height: 28px;
    transition: .3s ease-in;
}

.product-item:hover .button {
    background: #740B0B;
    color: white;
    text-decoration: none;
}

.pizza:hover .button {
    background: #740B0B;
    color: white;
    text-decoration: none;
}
*/
/*======================================*/
/* New blocks                           */
/*======================================*/
.product-img {
	width: 265px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.item-title {
    font-size: 1.5rem;
    font-weight: 500;
	font-family: 'Merriweather', serif;
	min-height: 70px;
}

@media (max-width: 980px){
	.item-title  {
		font-size: 1.2rem;
		min-height: auto;
	}
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #BD0F0F;
    color: #FFF;
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
    width: 90px;
    font-size: 16px;
    height: 26px;
    text-align: center;
}

.items.items--small .items__control {
    width: 30px;
}

.items.items--small .items__current {
    width: 30px;
}

.price {
    text-align: left;
}

.price__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
}

.price__currency {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
}

.btn-outline-warning {
    color: #BD0F0F;
    border-color: #BD0F0F;
}

.btn-outline-warning:hover {
    color: #FFF;
    background-color: #BD0F0F;
    border-color: #BD0F0F;
}

.cart-item {

}

.cart-item__top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
}

.cart-item__img  {

}

.cart-item__img img {
    max-width: 100px;
    height: auto;
}

.cart-item__desc {
    padding-top: 15px;
    padding-left: 15px;
    max-width: 208px;
}

.cart-item__title {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-item__details .price__currency {
    font-size: 18px;
    margin-left: 15px;
}

.cart-total {
    font-size: 18px;
    font-weight: 500;
}

.delivery-cost {

}

.free {
    color: #0EA107;
}

.total-price {
    color: #BD0F0F;
}

.rouble {
    color: #BD0F0F;
}

.none {
    display: none;
}

/* ========================*/
/* Модальное окно          */
/* ========================*/
.modname {
    font-size: 40px;

}
.modtext {
    text-align: left;
}
.modalDialog {
    position: fixed;
    font-family: 'Merriweather', Montserrat, Arial, Open Sans, Roboto, serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    background: rgb(255, 255, 255);

}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }