<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Пицца-шмицца</title>
    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>

<!------------------------------------------>
<!----------------Header-------------------->
<!------------------------------------------>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brad"><img src="../static/img/logo.svg" alt = "Логотип"></a>
        <a class="namecom">Пицца-шмицца</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-togg ler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-Link">Главная</a>
                </li>

                <li class="nav-item">
                    <a href="#choise" class="nav-Link">Выбор покупателей</a>
                </li>

                <li class="nav-item">
                    <a href="#menu" class="nav-Link">Меню</a>
                </li>

                <li class="nav-item">
                    <a href="#deliverya" class="nav-Link">Доставка</a>
                </li>

                <li class="nav-item">
                    <a class="acc">Аккаунт</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!------------------------------------------>
<!----------------/Header/------------------>
<!------------------------------------------>

<!-----------------Карусель----------------->
<div class="container">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="../static/img/carousel1.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="../static/img/carousel2.jpg" alt="...">
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="../static/img/carousel3.jpg" alt="...">
            </div>
        </div>
        <!-- Элементы управления -->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
</div>

<script src="../static/libs/jquery/jquery-3.3.1.min.js"></script>
<script src="../static/libs/bootstrap/js/bootstrap.min.js"></script>
<!----------------/Карусель/---------------->


<!------------------------------------------>
<!----------------Пиццы--------------------->
<!------------------------------------------>
<div class="block-header-white">
    <h3>Проверено временем</h3>
    <a id = "choise"><h2>Выбор покупателей</h2></a>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row" id="products-container">
                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="01">
                        <img class="product-img" src="../static/img/margarita.jpg" alt="Пицца">

                        <div class="card-body text-center">
                            <a href="#openModal1"><h4 class="item-title">Маргарита</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>

                            <div id="openModal1" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Маргарита</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>

                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">500г</div>
                                    <div class="price__currency">300 ₽</div>
                                </div>
                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">в корзину</button>

                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->

                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="02">
                        <img class="product-img" src="../static/img/pepperoni.png" alt="Пицца">
                        <div class="card-body text-center">
                            <a href="#openModal2"><h4 class="item-title">Пепперони</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>


                            <div id="openModal2" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Пепперони</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>


                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">480г</div>
                                    <div class="price__currency">250 ₽</div>
                                </div>
                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">в корзину</button>

                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->

                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="03">
                        <img class="product-img" src="../static/img/caprichoza.png" alt="Пицца">
                        <div class="card-body text-center">
                            <a href="#openModal3"><h4 class="item-title">Капричоза</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>


                            <div id="openModal3" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Капричоза</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>


                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">440г</div>
                                    <div class="price__currency">230 ₽</div>
                                </div>

                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">в корзину</button>

                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->

                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="04">
                        <img class="product-img" src="../static/img/carbonara.png" alt="Пицца">
                        <div class="card-body text-center">
                            <a href="#openModal4"><h4 class="item-title">Карбонара</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>


                            <div id="openModal4" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Карбонара</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>


                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">430г</div>
                                    <div class="price__currency">320 ₽</div>
                                </div>

                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">
                                в корзину
                            </button>
                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->
            </div>
        </div>

        <!----------------Корзина------------------->
        <div class="col-md-4">
            <div class="card mb-4">

                <!----------------Заказ-------------------->
                <div class="card-body">
                    <h4 class="card-title">Ваш заказ</h4>

                    <div data-cart-empty class="alert alert-secondary" role="alert">
                        Корзина пуста
                    </div>

                    <div class="cart-wrapper">
                    </div>

                    <div class="cart-total">
                        <p data-cart-delivery class="none">
                            <span class="h5">Доставка:</span>
                            <span class="delivery-cost">280 ₽</span><br>
                            <span class="small">Бесплатно при заказе от 600 ₽</span>
                        </p>
                        <p><span class="h5">Итого:</span>
                            <span class="total-price">0</span>
                            <span class="rouble">₽</span></p>
                    </div>
                </div>
                <!----------------/Заказ/-------------------->

                <!----------------Оформление-------------------->
                <div id="order-form" class="card-body border-top none">
                    <h4 class="card-title">Оформить заказ</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ваш номер телефона">
                        </div>
                        <button type="submit" class="btn btn-primary">Заказать</button>
                    </form>
                </div>
                <!----------------/Оформление/-------------------->
            </div>
        </div>
        <!----------------Корзина--------------------->
    </div>
</div>
<!------------------------------------------>
<!----------------/Пиццы/------------------->
<!------------------------------------------>

<div class="block-header-white">
    <h3>Мы предлагаем</h3>
    <a id = "menu"><h2>Лучшие пиццы</h2></a>
</div>

<!------------------------------------------>
<!----------------Пиццы--------------------->
<!------------------------------------------>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row" id="products-container">
                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="01">

                        <img class="product-img" src="../static/img/margarita.jpg" alt="Пицца">
                        <div class="card-body text-center">
                            <a href="#openModal1"><h4 class="item-title">Маргарита</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>

                            <div id="openModal1" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Маргарита</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>

                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">500г.</div>
                                    <div class="price__currency">300 ₽</div>
                                </div>
                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">в корзину</button>

                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->

                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="02">
                        <img class="product-img" src="../static/img/pepperoni.png" alt="Пицца">
                        <div class="card-body text-center">
                            <a href="#openModal2"><h4 class="item-title">Пепперони</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>


                            <div id="openModal2" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Пепперони</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>


                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">480г</div>
                                    <div class="price__currency">250 ₽</div>
                                </div>
                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">в корзину</button>

                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->

                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="03">
                        <img class="product-img" src="../static/img/caprichoza.png" alt="Пицца">
                        <div class="card-body text-center">
                            <a href="#openModal3"><h4 class="item-title">Капричоза</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>


                            <div id="openModal3" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Капричоза</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>


                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">440г</div>
                                    <div class="price__currency">230 ₽</div>
                                </div>

                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">в корзину</button>

                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->

                <!----------------Пицца-------------------->
                <div class="col-md-6">
                    <div class="card mb-4" data-id="04">
                        <img class="product-img" src="../static/img/carbonara.png" alt="Пицца">
                        <div class="card-body text-center">
                            <a href="#openModal4"><h4 class="item-title">Карбонара</h4></a>
                            <p><small data-items-in-box class="text-muted">6 шт.</small></p>


                            <div id="openModal4" class="modalDialog">
                                <div>
                                    <a href="#close" title="Закрыть" class="close">X</a>
                                    <h2 class="modname">Карбонара</h2>
                                    <p class = "modtext">Размер пиццы:</p>
                                    <p class = "modtext">Ингредиенты:</p>
                                </div>
                            </div>


                            <div class="details-wrapper">
                                <div class="items counter-wrapper">
                                    <div class="items__control" data-action="minus">-</div>
                                    <div class="items__current" data-counter>1</div>
                                    <div class="items__control" data-action="plus">+</div>
                                </div>

                                <div class="price">
                                    <div class="price__weight">430г.</div>
                                    <div class="price__currency">320 ₽</div>
                                </div>

                            </div>

                            <button data-cart type="button" class="btn btn-block btn-outline-warning">
                                в корзину
                            </button>
                        </div>
                    </div>
                </div>
                <!----------------/Пицца/-------------------->
            </div>
        </div>
    </div>
</div>
<!------------------------------------------>
<!----------------/Пиццы/------------------->
<!------------------------------------------>

<!------------------------------------------>
<!--------------Доставка и оплата----------->
<!------------------------------------------>
<div class="container">
    <div class="block-header-white">
        <a id = "deliverya"><h2>Доставка и оплата</h2></a>
    </div>
    <section class="delivery">
        <article class="deliv">
            <h1 class="title">90 минут или пицца бесплатно!</h1>
            Если мы не успеем доставить пиццу в течение 60 минут, курьер подарит вам сертификат на сумму 500 рублей, которые вы можете потратить при следующем заказе.
        </article>

        <article class="deliv">
            <h1 class="title">Бесплатная доставка каждого 10-го заказа!</h1>
            <p class="p">Каждый десятый заказ мы доставляем бесплатно в знак благодарности постоянным клиентам. Спасибо, что вы с нами!
            </p>
        </article>

        <article class="deliv">
            <h1 class="title">Мы заботимся о клиентах</h1>
            <p class="p">Если вас не устроило качество доставки, вы можете обратиться в службу поддержки и оставить отзыв. Мы прислушаемся к вашему мнению и улучшим наш сервис.</p>
        </article>

        <article class="deliv">
            <h1 class="title">Доставляем по всей Республике!</h1>
            <p class="p">Мы работаем по всей Республике Татарстан и в скором времени планируем выйти за ее пределы.</p>
        </article>
    </section>
</div>
<!------------------------------------------>
<!------------/Доставка и оплата/----------->
<!------------------------------------------>

<!------------------------------------------>
<!--------------FOOTER START---------------->
<!------------------------------------------>
<footer class="footer-area">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <a class = "desc" href = "https://vk.com">О нас</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <a class = "desc" href = "https://vk.com">Интересное</a>
                    </div>

                </div>
                <div class="col-xs-12 hidden-sm col-md-3">
                    <div class="footer-title">
                        <a class = "desc" href = "https://vk.com">Партнерам</a>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <a class = "desc" href = "https://vk.com">Контакты</a>
                    </div>
                    <nav>
                        <ul class="footer-content box-information">
                            <li>
                                <i class=""></i><p><a href=""><b>pizzashmizza@gmail.com</b></a></p>
                            </li>
                            <li>
                                <i class=""></i>
                                <span><b>   8-800-555-35-35</b></span> <br> <span> </span>
                            </li>

                            <ul class="social-icons">
                                <li><a href="http://www.facebook.com"><img src='../static/img/facebook.png' alt = "faceboook" /></a></li>

                                <li><a href="http://www.twitter.com"><img src='../static/img/twitter.png' alt="twitter"/></a></li>

                                <li><a href="https://web.telegram.org"><img src='../static/img/telegram.png' alt="telegram"/></a></li>

                                <li><a href="https://vk.com"><img src='../static/img/vkontakte.png' alt="vkontakte"/></a></li>
                            </ul>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!------------------------------------------>
<!--------------FOOTER END------------------>
<!------------------------------------------>

<!----------------Скрипты------------------->
<script src="../static/js/renderProducts.js"></script>
<script src="../static/js/calcCartPrice.js"></script>
<script src="../static/js/toggleCartStatus.js"></script>
<script src="../static/js/counter-02.js"></script>
<script src="../static/js/cart-02.js"></script>
<!----------------/Скрипты/----------------->
</body>

</html>
